{% extends 'base.html.twig' %}

{% block body %}
<style>
    .fun-text {
        color: #93a84c; /* Couleur vive */
        font-size: 1.5em; /* Taille de police plus grande */
        text-shadow: 2px 2px 3px rgba(114, 104, 104, 0.5); /* Ombre portée pour le contraste */
        animation: fadeInUp 1s ease; /* Animation pour attirer l'attention */
    }

    .fun-button {
        margin: 20px; /* Marge pour le bouton */
        background-color: #93a84c; /* Couleur de fond */
        color: #4c4c4c; /* Couleur du texte */
        padding: 12px 24px; /* Espacement intérieur */
        border: none; /* Supprimer les bordures */
        border-radius: 30px; /* Coins arrondis */
        font-size: 1.2em; /* Taille de police */
        cursor: pointer; /* Curseur pointer */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Transition en douceur */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    }

    .fun-button:hover {
        background-color: #bbcd7f; /* Couleur de fond au survol */
        transform: scale(1.05); /* Zoom léger au survol */
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(150px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .centered-content {
        text-align: center; /* Centre le texte */
        margin: 20px; /* Marge autour du contenu */
    }

    .image-container,
    .button-container {
        display: flex; /* Utilise flexbox pour centrer le contenu */
        justify-content: center; /* Centre horizontalement */
        margin-bottom: 20px; /* Marge sous l'image ou le bouton */
    }

    .image-container img {
        max-width: 80%; /* Réduit la largeur de l'image */
        height: 100%; /* Conserve le ratio d'aspect de l'image */
    }

    .aligned-paragraphs {
        margin-left: 20px; /* Ajuster ce chiffre pour aligner les paragraphes */
        margin-right: 20px; /* Assurez-vous que ce chiffre est égal à celui de la marge de gauche */
        text-align: left; /* Assure que le texte est aligné à gauche */
    }
</style>

<div class="centered-content">
    <h1>Bienvenue sur votre site dédié au bien-être des Teamwilliens !</h1>
    <br>
    <div class="image-container">
        
        <img src="{{ asset('/User/img/f.gif') }}" alt="Image Description">
    </div>
    <div class="button-container">
        <a href="{{ path('userform') }}" class="fun-button">
            <strong>Déclenche l'Aventure !!</strong>
        </a>
    </div>
</div>

{% endblock %}
